/*-------------------------------------------------------
09. Laptop css 
---------------------------------------------------------*/

.lp {
    position: relative;
    z-index: 3;
    top: -40rem;
    margin-bottom: -40rem;
}


